.point-img {
    height: 220px;
    justify-content: space-around;
    align-items: center;
   flex-direction: column;
    display: flex;
    width: 33%;
    text-align: center;

    img {}
    h3 {
        color: #000000;
        font-size: 21px;
    }
    p {
        text-transform: uppercase;
        width: 80%;
        font-size: 14px;
    }

}

@media (max-width:500px) {
    .point-img {
        width: 100%;
    }
}
