header {
  width: 100%;
  height: 100vh;
  background-image: url("/img/bg1.jpg");
  background-size: cover; }

.header-wrap {
  width: 85%;
  margin: auto; }

.header-navbar {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px; }

.logo {
  display: block;
  float: left; }

.a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  text-transform: uppercase; }

.logo-a {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px; }

.main-menu {
  float: right;
  margin: 0; }

.main-li {
  display: inline-block;
  box-sizing: border-box; }

.main-a {
  display: block;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  font-family: Montserrat,sans-serif; }

.main-a__white {
  background: rgba(255, 255, 255, 0.7); }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.hide {
  display: none; }

@media (max-width: 760px) {
  .header-wrap {
    width: 100%;
    margin: auto; }
  .header-navbar {
    display: block;
    background-color: #67B0D1; }
  .logo {
    width: 100%;
    display: block;
    border-bottom: rgba(255, 255, 255, 0.6) solid white; }
  .logo-a {
    display: inline-block;
    float: left; }
  .hide {
    float: right;
    display: inline-block;
    padding: 10px 15px; }
  .main-menu {
    width: 100%; }
  .main-li {
    display: block; }
  .main-a {
    display: block;
    width: 100%;
    background-color: #67B0D1;
    color: white; } }
